/* 只需要重写你需要的即可 */
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #009688,
    ),
  ),
);

// 导入所有样式:
@use "element-plus/theme-chalk/src/index.scss" as *;

.el-menu {
    .el-menu-item {
      .icon {
          margin-right: 5px;
      }
    }
}

/* 重置 Drawer */
.el-drawer {
    .el-drawer__header {
        padding: 15px 20px;
        margin-bottom: 0;
        border-bottom: 1px solid #f0f0f0;
        span,
        button {
            outline: none;
        }
    }
}

/* 重置 card */
.cus-card {
    .el-card {
        border: 0;
    }
}

/*自定义 table 样式*/
.custom-table {
    .el-table__header {
        background-color: #F5F7FA !important;
    }
    .custom-td-header-one,
    .el-table__body tr:hover .custom-td-header-one {
        color: #303133;
        font-weight: bold;
        background-color: #F5F7FA !important;
    }
}
.custom-table-header {
    color: #303133;
    th {
        background-color: #F5F7FA !important;
    }
}


