/**
 * 变量定义
 * @author LiQingSong
 */

 $headerHeight: 50px; // 头部高度
 $headerBreadcrumbHeight:34px; // 头部存在情况下面包屑高度
 // IndexLayout 左侧边栏
 $leftSideBarWidth: 200px; // 左侧边栏宽度

 $mainBgColor: #f0f3f4; // 主窗口背景色
 $leftBgColor: #1c2b36; // 左侧菜单背景色
 $leftMenuActiveBgColor: #209e91; // 左侧菜单选中色

 $topMenuFontColor: rgba(255,255,255,.8); // 顶部菜单字体颜色
 $topMenuHoverFontColor: rgba(255,255,255,0.9); // 顶部菜单字体Hover颜色
 $topMenuHoverBgColor: #000000; // 顶部菜单Hover背景色
 $topMenuActiveBgColor: rgba(0,0,0,0.5); // 顶部菜单Active背景色


